
.fileImage{
    display: none;
}
.plusImage,.labelImage{
    width: 200px;
    height: 100px;
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
    cursor: pointer;
    /* border: 1px solid rgb(194, 194, 194); */
    border-radius: 4px;
}
.plusImage{
    padding: 50px;
}
.labelImage{
    padding: 0px;
    
}
.image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border: 1px solid rgb(194, 194, 194);
}