.BoxInput{
    background-color: var(--inputColor);
    margin-left: 2%;
    display: flex;
    align-items: center;
    padding: .8% 2%;
    border-radius: .7rem;
}

.InputSearch{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 1% 5%;
    width: 20vw;
    color: var(--textSecondary)
    
}

.InputSearch::placeholder {
    color: var(--colorIconLight);
    font-weight: 500;
}